{% extends 'base.html.twig' %}

{% block body %}
    <style>

        article {
            background-color: RGB(249, 255, 16); /* Цвет фона под заголовком */
            max-width: 600px;
        }
        input {
            border-radius: 10px;
        }

    </style>

<article class="well" >
<h2>PAYMENT</h2>
    <h5>card number</h5>
    <p><input type="text" size="16" maxlength="16" onkeypress='return event.charCode >= 48 && event.charCode <= 57'></p>
    <h5>expire date</h5>
    <p><input type="date" name="begin"
           placeholder="dd-mm-yyyy" value=""
              min="2018-01-01" max="2030-12-31"></p>
    <h5>cardholder name</h5>
    <p><input type="text" maxlength="20"></p>
    <h5>cardholder surname</h5>
    <p><input type="text" maxlength="20"></p>
</article>

<div class="card bg-light mb-3 mt-5" style="width: 800px">
    <div class="card-body">

    {{ form_start(form) }}
    <h2>Delivery info</h2>
        <div class="form_group">
            <div class="col-md-6 mb-3">
                {{ form_row(form.city, {'attr': {'class':
                    'form-control'}}) }}
            </div>
        </div>
    <div class="form_group">
        <div class="col-md-6 mb-3">
            {{ form_row(form.Address, {'attr': {'class':
                'form-control'}}) }}
        </div>
    </div>
    <div class="form_group">
        <div class="col-md-6 mb-3">
            {{ form_row(form.home_number, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form_group">
        <div class="col-md-6 mb-3">
            {{ form_row(form.flat, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    {% if user.cash > cart.total %}
    <div class="form-group">
        <div class="col-md-6 col-md-offset-3" style="margin-top:5px;">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-btn fa-handshake-o"></i> Update
            </button>
        </div>
    </div>
        {% else %}

    {% endif %}
    {{ form_end(form) }}

    </div>
</div>

    <a href="{{ path('cart') }}" class="btn btn-primary" type="submit">
        <i class="fa fa-backward" aria-hidden="true"></i> BACK
    </a>
{% endblock %}

{% block title %}

{% endblock %}

